# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
db.sqlite3
*.log

# IDE directories
*.idea/
*.vscode/
*.DS_Store

# static
finsaas_app/venv/
finsaas_app/static/
finsaas_app/media/

# Django Migrations
**/migrations/